@import 'bootstrap.min.css';
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-balham.css';
@import '~react-grid-layout/css/styles.css';
@import '~react-resizable/css/styles.css';

.feedit-bg-lightblue {
  background-color: #c5e3f1;
}

h3 {
  font-family: auto, serif;
  font-size: 25px;
}

h4 {
  font-family: auto, serif;
  font-size: 18px;
  font-weight: bold;
}
